<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BudgettingTogether"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.BudgettingTogether">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".expenses.ExpensesActivity"
            android:exported="false"
            android:label="@string/expenses_title"
            android:theme="@style/Theme.BudgettingTogether" />
        <activity
            android:name=".income.IncomeActivity"
            android:exported="false"
            android:label="@string/income_title"
            android:theme="@style/Theme.BudgettingTogether" />
        <activity
            android:name=".limits.BudgetLimitsActivity"
            android:exported="false"
            android:label="@string/budget_limits_title"
            android:theme="@style/Theme.BudgettingTogether" />
        <activity
            android:name=".analysis.AnalysisActivity"
            android:exported="false"
            android:label="@string/analysis_title"
            android:theme="@style/Theme.BudgettingTogether" />
        <activity
            android:name=".categories.CategoriesActivity"
            android:exported="false"
            android:label="@string/manage_categories"
            android:theme="@style/Theme.BudgettingTogether" />
        <activity
            android:name=".currency.CurrencySettingsActivity"
            android:exported="false"
            android:label="@string/currency_settings"
            android:theme="@style/Theme.BudgettingTogether" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
